.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: var(--color-white);
    border-radius: 6px;
    width: clamp(400px, 1180px, 1180px);
}

.header_container {
    height: 56px;
    display: flex;
    align-items: center;
    margin-left: 24px;
    box-shadow: var(--box-shadow);
    margin: 0 1.5rem;
}

.infobar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-almost-white);
    height: 72px;
    padding: 0 24px;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
}

.figures_container {
    display: flex;
    gap: 2rem;
}

.figures_container_title {
    width: 5.1rem;
}

.figures_container_title__value {
    font-weight: 600;
    font-size: 1.125em;
}

.figures_container_title__wider {
    width: 8rem;
}

.figures_container_title__order {
    color: var(--color-deep-grey);
    line-height: 1.3em;
    font-size: 0.69em;
    padding: 6px 0;
}

.figures_container_title__amount {
    color: var(--color-deep-grey);
    line-height: 1.3em;
    font-size: 0.69em;
    padding: 6px 0;
}

.button_container {
    display: flex;
    gap: 1rem;
}

.vertical_line {
    border-left: 1px solid var(--color-border);
}
